body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 174, 90);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 2rem;
    max-width: 90%;
    width: 600px; 
    margin: auto; 
}
main > div {
    margin: 2rem;
    width: 100%;
}

.topic {
    width: 100%;
    display: flex;
    height: auto;
}

.topic > input {
    height: 1rem;
}

#listBox {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hide {
    display: none;
    padding-top: 0rem;
}

input, label, select {
    margin: 0.5rem 0;
}

@media (max-width: 800px) {
    main {
        width: 100%;
        padding: 1rem;
    }
    
    main > div {
        margin: 1rem;
    }
    
    .topic {
        display: block;
    }
    
    .topic > div {
        margin: 1rem auto;
    }
}