<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Type in the news topic</h1>
        <form method="post" action="/">
            <label for="topic">Topic: </label>
            <input type="text" name="topic" id="topic"><br>
            <label for="sort-by">Sort by: </label>
            <select name="sort-by" id="sort-by">
                <option value="relevancy">Relevancy</option>
                <option value="popularity">Popularity</option>
                <option value="publishedAt">Published at</option>
            </select><br>
            <input type="submit" value="Search">
        </form>
    </main>
</body>
</html>